@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: calc(max-content);
    align-self: center;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg,#aebeff 0%,#cbadff 100%);
    font-size: 62.5%;
    line-height: 1.6rem;
    flex-wrap: wrap;
}

:root {
    --main-color: rgb(135, 252, 0);
}

#header {
  top: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px #ccc solid;
  height: max-content;
  box-shadow: 0px 0 1px 0 #333;
  position: fixed;
  z-index: 100;
}

#header ul {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 0 40px;
  height: fit-content;
  padding: 20px 0;
}

#header ul li {
  display: flex;
}

#header ul li a {
  color: #333;
  text-decoration: none;
  font-size: 1.1rem;
  line-height: 1.4rem;
  font-weight: 400;
}

#header ul li a:hover {
  color: #3a62ff;
  font-weight: 500;
  font-size: 1.4rem;
}

#shipper_register {
    height: 80%;
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 25px 30px;
    border-radius: 10px;
    margin: 40px 0;
    border: 1px solid #bbb;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    margin-top: 100px;
}

#shipper_register h2 {
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: #fff;
    background: linear-gradient(0deg,#4a6eff 0%,#995eff 100%);
    padding: 0 5%;
    padding-top: 15px;
    padding-bottom: 10px;
    border-radius: 0 0 25px 25px;
}

#shipper_register input {
  border: 1px rgb(218, 218, 218) solid;
  outline: none;
  padding: 15px 20px;
  border-radius: 2px;
  line-height: 1.3rem;
  font-size: 1.1rem;
  width: 90%;
}

#shipper_register input:focus {
    outline: 1px solid #333;
}

::placeholder {
    color: #ccc;
    line-height: 1.2rem;
}

#shipper_register input + input {
    margin-top: 20px;
}

.dropdown {
  min-width: 15em;
  position: relative;
  margin: 2em;
}

.dropdown * {
  box-sizing: border-box;
}

.select {
  background: #fff;
  width: 627px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #fff solid;
  padding: 1.2em 1em 1.2em 1.7em;
  cursor: pointer;
  transition: background 0.5s;
}

.select-clicked {
  border: 2px black solid;
  box-shadow: 0 0 0.8em black;
}

.selected {
  color: black;
  font-size: 1.1rem;
}


.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.3s;

}


.menu {
  list-style: none;
  padding: 0.2em 0.5em;
  background: #323741;
  border: 1px #363a43 solid;
  box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
  color: #9fa5b5;
  position: absolute;
  top: 4em;
  left: 50%;
  width: 100%;
  font-size: 0.8rem;
  opacity: 0;
  display: none;
  transform: translateX(-50%);
  transition: 0.2s;
  z-index: 1;
}

.menu li {
  font-size: 0.8rem;
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;

}

.menu li:hover {
  background: #2a2d35;
}

.active1 {
  background: #23242a;

}

.menu-open {
  display: block;
  opacity: 1;
}

.shipper_register--register-btn {
    margin: 20px 0;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px;
    border: #ccc 1px solid;
    width: 80%;
    align-self: center;
    color: #fff;
}

.shipper_register--register-btn:hover {
    cursor: pointer;
}

#shipper_register > p {
    font-size: 1rem;
    color: #aaa;
    align-self: center;
    border-top: 1px #bbb solid;
    border-bottom: 1px #bbb solid;
    padding: 0 30%;
    align-self: center;
}

.shipper_register-form {
    display: flex;
    justify-content: space-between;
}

.shipper_register--register-btn {
    background: linear-gradient(135deg,#3a62ff 0%,#7f34ff 100%);
}

.shipper_register--forgot-btn {
    background-color: rgb(71, 135, 255);
}

.shipper_register--login-btn {
    background-color: rgb(59, 82, 255);
}

.shipper_register-form {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shipper_register-form a {
    margin: 20px 0;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px;
    border: #ccc 1px solid;
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: flex;
    align-self: center;
    justify-content: center;
    flex: 1;  
    border-radius: 25px;
    color: #fff;
}

.shipper_register-form a + a {
    margin-left: 10px;
}

.shipper_register-form a:hover {
    cursor: pointer;
}


#footer {
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-top: 1px #ccc solid;
  height: max-content;
  box-shadow: 0px 0 2px 0 #333;
}

#footer ul {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 0 40px;
  height: fit-content;
  padding: 50px 0;
}

#footer ul li {
  display: flex;
}

#footer ul li a {
  color: #333;
  text-decoration: none;
  font-size: 1.1rem;
  line-height: 1.4rem;
  font-weight: 400;
}

#footer ul li a:hover {
  color: #7f34ff;
  font-weight: 500;
  font-size: 1.4rem;
}

/*----------------------------------------------------------------*/
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    align-self: center;
  height: max-content;
  width: 80%;
  position: relative;
}

.container .wrapper {
  position: relative;
  height: calc(350px);
  width: 100%;
  border-radius: 10px;
  background: #fff;
  border: 2px dashed #c2cdda;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.wrapper.active {
  border: none;
}

.wrapper .image{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.wrapper .icon{
  font-size: 100px;
  color: #9658fe;
}

.wrapper .text{
  font-size: 20px;
  font-weight: 500;
  color: #5B5B7B;
}

.wrapper #cancel-btn i{
  position: absolute;
  font-size: 20px;
  right: 15px;
  top: 15px;
  color: #9658fe;
  cursor: pointer;
  display: none;
}

.wrapper.active:hover #cancel-btn i{
  display: block;
}

.wrapper #cancel-btn i:hover{
  color: #e74c3c;
}

.wrapper .file-name{
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 8px 0;
  font-size: 18px;
  color: #fff;
  display: none;
  background: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);
}

.wrapper.active:hover .file-name{
    display: block;
}

.container #custom-btn{
  margin-top: 10px;
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 25px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  background: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);
}

/*======================================================================*/

@media only screen and (max-width: 767px) {
  #shipper_register {
      padding: 15px 10px;
      padding-top: 0;
  }

  .shipper_register-form {
      display: flex;
      align-self: center;
      justify-content: center;
      flex-direction: column;
  }

  .shipper_register-form a {
      margin: 0;
      margin-top: 10px;
      width: 100%;
  }

  .shipper_register-form a + a {
      margin: 0;
      margin-top: 10px;
  }

  #shipper_register input {
      font-size: 0.8rem;
      line-height: 0.8rem;
      padding: 10px 15px;
  }

  #shipper_register h2 {
      font-size: 1.3rem;
  }

  #footer ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px 0;
  }

  #footer ul li + li {
      margin-top: 10px;
  }

  #shipper_register {
    width: 80%;
  }
}

@media only screen and (min-width: 767px) and (max-width:1023px){
  .shipper_register-form {
      display: flex;
      align-self: center;
      justify-content: center;
      flex-direction: column;
  }

  .shipper_register-form a {
      margin: 0;
      margin-top: 10px;
      width: 100%;
  }

  .shipper_register-form a + a {
      margin: 0;
      margin-top: 10px;
  }

  #shipper_register input {
      font-size: 0.9rem;
      line-height: 0.9rem;
      padding: 10px 15px;
  }

  #shipper_register {
      padding: 20px 20px;
      padding-top: 0;
  }

  .container .wrapper {
    height: 300px;
  }

  #shipper_register {
    width: 60%;
  }
}

@media only screen and (min-width: 1023px) {
}